.sortir{
    display: flex;
    flex-direction: column;

}
.pio{
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: center;
    padding: 0px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  
  h6{
  
    zoom: 0.7;
    -moz-transform: scale(0.7);
  
  
  }
  
  .where{
    zoom: 0.7;
    -moz-transform: scale(0.7);
    text-align: center;
  }